@charset "utf-8";
/* CSS Document */
body {
	background:#f1f1f1;
	font-size:12px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin:0px;	padding:0px;
	color:#555;
}
a {
	text-decoration:none;
}
.login_holder {
margin: 10% auto 0px auto;
width: 316px;
padding: 23px 25px;
background: #fff;
border: 1px solid #e2e2e2;
box-shadow: 1px 1px 3px #e2e2e2;
-moz-box-shadow: 1px 1px 3px #e2e2e2;
-webkit-box-shadow: 1px 1px 3px #e2e2e2;\
border-radius: 10px;
}

.login_logo {
padding: 0px 30px 23px 30px;
border-bottom: 1px solid #e2e2e2;
}

.login_holder h3 {
text-align: center;
color: #555;
font-size: 16px;
padding: 20px 0px 10px 0px;
margin: 50px 0px 13px 0px;
font-weight: normal;
}

h3 {
display: block;
font-size: 1.17em;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
font-weight: bold;
}

.login_holder .signin_btn {
background-image: -ms-linear-gradient(top, #ffffff 0%, #f3f3f3 100%) !important;
background-image: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 100%) !important;
background-image: -o-linear-gradient(top, #ffffff 0%, #f3f3f3 100%) !important;
background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #ffffff), color-stop(1, #f3f3f3)) !important;
background-image: -webkit-linear-gradient(top, #ffffff 0%, #f3f3f3 100%) !important;
background-image: linear-gradient(top, #ffffff 0%, #f3f3f3 100%) !important;
border: 1px solid #e2e2e2 !important;
color: #555 !important;
border-radius: 4px;
text-decoration: none;
font-weight: bold;
font-size: 14px;
display: block;
width: 245px;
line-height: 47px;
margin: 0 auto 60px auto;
}


.login_holder .signin_btn span {
width: 28px;
height: 47px;
display: block;
float: left;
border-right: 1px solid #e2e2e2;
margin: 0px 8px 0px 11px;
background: url(http://commondatastorage.googleapis.com/images2.solestruck.com/gae/live/images/google_icon.png) no-repeat 0px 10px;
}


.login_holder .signin_btn:hover {
	box-shadow:1px 1px 4px #e2e2e2;
}



